## Preprocessing

In [74]:
# Importing our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Importing and reading the charity_data.csv.
import pandas as pd 
application_df_full = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df_full.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [75]:
# Dropping the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df_full.drop(["EIN","NAME"],1)
application_df

<ipython-input-75-c3e5ec5ff78d>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df_full.drop(["EIN","NAME"],1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [76]:
# Determining the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [77]:
# Looking at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [78]:
# Choosing a cutoff value and create a list of application types to be replaced
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replacing in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Checking to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [79]:
# Looking at CLASSIFICATION value counts for binning
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [80]:
# Looking at CLASSIFICATION value counts >1
classification_value_counts[classification_value_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [81]:
# Choosing a cutoff value and create a list of classifications to be replaced
classifications_to_replace = classification_value_counts.index.tolist()[5:]

# Replacing in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Checking to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()[:5]

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
Name: CLASSIFICATION, dtype: int64

In [82]:
# Checking all categorical columns in the dataset
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [83]:
# Converting categorical data to numeric with `pd.get_dummies`
dummy_data = pd.get_dummies(data=application_df, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 
                                             'USE_CASE', 'ORGANIZATION', 'SPECIAL_CONSIDERATIONS', 'INCOME_AMT', 'IS_SUCCESSFUL'])

In [84]:
# Checking the number of unique values in each column
dummy_data.nunique()

STATUS                             2
ASK_AMT                         8747
APPLICATION_TYPE_Other             2
APPLICATION_TYPE_T10               2
APPLICATION_TYPE_T19               2
APPLICATION_TYPE_T3                2
APPLICATION_TYPE_T4                2
APPLICATION_TYPE_T5                2
APPLICATION_TYPE_T6                2
APPLICATION_TYPE_T7                2
APPLICATION_TYPE_T8                2
AFFILIATION_CompanySponsored       2
AFFILIATION_Family/Parent          2
AFFILIATION_Independent            2
AFFILIATION_National               2
AFFILIATION_Other                  2
AFFILIATION_Regional               2
CLASSIFICATION_C1000               2
CLASSIFICATION_C1200               2
CLASSIFICATION_C2000               2
CLASSIFICATION_C2100               2
CLASSIFICATION_C3000               2
CLASSIFICATION_Other               2
USE_CASE_CommunityServ             2
USE_CASE_Heathcare                 2
USE_CASE_Other                     2
USE_CASE_Preservation              2
USE_CASE_ProductDev                2
ORGANIZATION_Association           2
ORGANIZATION_Co-operative          2
ORGANIZATION_Corporation           2
ORGANIZATION_Trust                 2
SPECIAL_CONSIDERATIONS_N           2
SPECIAL_CONSIDERATIONS_Y           2
INCOME_AMT_0                       2
INCOME_AMT_1-9999                  2
INCOME_AMT_10000-24999             2
INCOME_AMT_100000-499999           2
INCOME_AMT_10M-50M                 2
INCOME_AMT_1M-5M                   2
INCOME_AMT_25000-99999             2
INCOME_AMT_50M+                    2
INCOME_AMT_5M-10M                  2
IS_SUCCESSFUL_0                    2
IS_SUCCESSFUL_1                    2
dtype: int64

In [85]:
# Splitting our preprocessed data into our features and target arrays
y = dummy_data["IS_SUCCESSFUL_1"].values
X = dummy_data.drop(["IS_SUCCESSFUL_1", "IS_SUCCESSFUL_0"],1).values

# Splitting the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

<ipython-input-85-3210947ecf00>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = dummy_data.drop(["IS_SUCCESSFUL_1", "IS_SUCCESSFUL_0"],1).values

In [86]:
# Creating a StandardScaler instances
scaler = StandardScaler()

# Fitting the StandardScaler
X_scaler = scaler.fit(X_train)

# Scaling the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [87]:
# Checking the dummy_data dataframe
dummy_data

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,IS_SUCCESSFUL_0,IS_SUCCESSFUL_1
0,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,108590,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,1,142590,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

## Compile, Train and Evaluate the Model

In [88]:
# Defining the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=43, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Checking the structure of the model
nn.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_36 (Dense)            (None, 80)                3520

 dense_37 (Dense)            (None, 30)                2430

 dense_38 (Dense)            (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [89]:
# Compiling the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [90]:
# Training the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5715 - accuracy: 0.7214
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7296
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7320
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5517 - accuracy: 0.7311
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7323
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7332
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7342
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7340
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7345
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7332
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7360
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7336
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7350
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7364
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7348
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7352
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7356
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7364
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7365
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7353
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7361
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7370
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7385
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7377
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7371
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7378
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7382
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5417 - accuracy: 0.7380
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7379
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7381
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7380
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7378
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7384
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7381
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5408 - accuracy: 0.7381
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7386
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7388
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7386
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7390
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7385
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7392
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7386
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5395 - accuracy: 0.7395
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7389
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7392
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7390
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7393
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7398
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7399
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7400
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7399
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7396
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7404
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7404
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7395
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7405
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7400
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5385 - accuracy: 0.7399
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7400
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7392
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7404
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7398
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7400
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7388
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7405
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7397
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7407
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7407
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7400
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7401
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7400
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7400
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7400
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7403
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7396
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7396
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7409
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7405
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7406
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7407
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5366 - accuracy: 0.7409
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7407
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7409
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7406
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7407
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7407
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7405
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7407
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7409
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7413
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7407
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7406
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7415
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7407
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7406
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7409
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7402
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7417
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7407
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7404

In [91]:
# Evaluating the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5554 - accuracy: 0.7261 - 573ms/epoch - 2ms/step
Loss: 0.555393636226654, Accuracy: 0.726064145565033

In [92]:
# Exporting our model to HDF5 file
nn.save('my_model.hdf5')

## Optimising the model

In [93]:
# Trying to further create bins for the income amount column
income_value_counts = application_df['INCOME_AMT'].value_counts()
income_value_counts

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [94]:
# Creating list of values to replace
income_value_to_replace = ['10M-50M', '5M-10M','50M+']

# Replacing in dataframe
for inc in income_value_to_replace:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(inc,"5M+")
    
# Checking to make sure binning was successful
application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
5M+                564
10000-24999        543
Name: INCOME_AMT, dtype: int64

In [95]:
# Reading in the dataset again to include a new column
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")

# Making sure the bins are still present
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Trying to further create bins for the application types column
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17', 'T10']
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Making sure the bins are still present
for inc in income_value_to_replace:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(inc,"5M+")

In [96]:
# Converting categorical data to numeric with `pd.get_dummies`
dummy_data = pd.get_dummies(data=application_df, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
                                             'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'IS_SUCCESSFUL'])

In [97]:
# Splitting our preprocessed data into our features and target arrays
y = dummy_data["IS_SUCCESSFUL_1"].values
# Removing the Special considerations column to see if it enhances accuracy
X = dummy_data.drop(["IS_SUCCESSFUL_1", "IS_SUCCESSFUL_0", "SPECIAL_CONSIDERATIONS", "NAME"],1).values

# Splitting the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

<ipython-input-97-1eab62574f7c>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = dummy_data.drop(["IS_SUCCESSFUL_1", "IS_SUCCESSFUL_0", "SPECIAL_CONSIDERATIONS", "NAME"],1).values

In [98]:
# Creating a StandardScaler instances
scaler = StandardScaler()

# Fitting the StandardScaler
X_scaler = scaler.fit(X_train)

# Scaling the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [99]:
# Defining the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 120
hidden_nodes_layer3 = 100
hidden_nodes_layer4 = 50

nn2 = tf.keras.models.Sequential()

# First hidden layer
nn2.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=39, activation="relu")
)

# Second hidden layer
nn2.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer (changed activation function; added new layer)
nn2.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))

# Fourth hidden layer (added new layer)
nn2.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# # Output layer
nn2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Checking the structure of the model
nn2.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_39 (Dense)            (None, 80)                3200

 dense_40 (Dense)            (None, 120)               9720

 dense_41 (Dense)            (None, 100)               12100

 dense_42 (Dense)            (None, 50)                5050

 dense_43 (Dense)            (None, 1)                 51

=================================================================
Total params: 30,121
Trainable params: 30,121
Non-trainable params: 0
_________________________________________________________________

In [100]:
# Compiling the model
nn2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [101]:
# Training the model (lesser epochs)
fit_model = nn2.fit(X_train_scaled,y_train,epochs=80)

Epoch 1/80
804/804 [==============================] - 3s 3ms/step - loss: 0.5657 - accuracy: 0.7218
Epoch 2/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5531 - accuracy: 0.7318
Epoch 3/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7329
Epoch 4/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5476 - accuracy: 0.7341
Epoch 5/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5457 - accuracy: 0.7357
Epoch 6/80
804/804 [==============================] - 3s 3ms/step - loss: 0.5434 - accuracy: 0.7359
Epoch 7/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7367
Epoch 8/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7376
Epoch 9/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7383
Epoch 10/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7414
Epoch 11/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7407
Epoch 12/80
804/804 [==============================] - 3s 3ms/step - loss: 0.5360 - accuracy: 0.7408
Epoch 13/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7418
Epoch 14/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7425
Epoch 15/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5341 - accuracy: 0.7407
Epoch 16/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7427
Epoch 17/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7439
Epoch 18/80
804/804 [==============================] - 3s 4ms/step - loss: 0.5306 - accuracy: 0.7442
Epoch 19/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7447
Epoch 20/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5296 - accuracy: 0.7448
Epoch 21/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5279 - accuracy: 0.7449
Epoch 22/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5271 - accuracy: 0.7445
Epoch 23/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5271 - accuracy: 0.7462
Epoch 24/80
804/804 [==============================] - 3s 4ms/step - loss: 0.5264 - accuracy: 0.7460
Epoch 25/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5251 - accuracy: 0.7464
Epoch 26/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5249 - accuracy: 0.7466
Epoch 27/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5244 - accuracy: 0.7461
Epoch 28/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5236 - accuracy: 0.7476
Epoch 29/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5225 - accuracy: 0.7474
Epoch 30/80
804/804 [==============================] - 3s 3ms/step - loss: 0.5224 - accuracy: 0.7479
Epoch 31/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5222 - accuracy: 0.7477
Epoch 32/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5212 - accuracy: 0.7481
Epoch 33/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5208 - accuracy: 0.7484
Epoch 34/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5198 - accuracy: 0.7491
Epoch 35/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5200 - accuracy: 0.7486
Epoch 36/80
804/804 [==============================] - 3s 3ms/step - loss: 0.5188 - accuracy: 0.7497
Epoch 37/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5178 - accuracy: 0.7504
Epoch 38/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5174 - accuracy: 0.7512
Epoch 39/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5170 - accuracy: 0.7503
Epoch 40/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5169 - accuracy: 0.7496
Epoch 41/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5169 - accuracy: 0.7512
Epoch 42/80
804/804 [==============================] - 3s 4ms/step - loss: 0.5163 - accuracy: 0.7510
Epoch 43/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5152 - accuracy: 0.7523
Epoch 44/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5151 - accuracy: 0.7512
Epoch 45/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5139 - accuracy: 0.7505
Epoch 46/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5142 - accuracy: 0.7521
Epoch 47/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5137 - accuracy: 0.7524
Epoch 48/80
804/804 [==============================] - 3s 4ms/step - loss: 0.5121 - accuracy: 0.7537
Epoch 49/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5117 - accuracy: 0.7520
Epoch 50/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5106 - accuracy: 0.7536
Epoch 51/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5113 - accuracy: 0.7525
Epoch 52/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5102 - accuracy: 0.7538
Epoch 53/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5103 - accuracy: 0.7530
Epoch 54/80
804/804 [==============================] - 3s 3ms/step - loss: 0.5098 - accuracy: 0.7526
Epoch 55/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5089 - accuracy: 0.7540
Epoch 56/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5087 - accuracy: 0.7539
Epoch 57/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5092 - accuracy: 0.7535
Epoch 58/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5090 - accuracy: 0.7543
Epoch 59/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5082 - accuracy: 0.7543
Epoch 60/80
804/804 [==============================] - 3s 3ms/step - loss: 0.5078 - accuracy: 0.7549
Epoch 61/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5071 - accuracy: 0.7550
Epoch 62/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5065 - accuracy: 0.7540
Epoch 63/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5062 - accuracy: 0.7553
Epoch 64/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5056 - accuracy: 0.7552
Epoch 65/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5052 - accuracy: 0.7550
Epoch 66/80
804/804 [==============================] - 3s 4ms/step - loss: 0.5053 - accuracy: 0.7541
Epoch 67/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5040 - accuracy: 0.7556
Epoch 68/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5041 - accuracy: 0.7565
Epoch 69/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5034 - accuracy: 0.7556
Epoch 70/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5042 - accuracy: 0.7573
Epoch 71/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5025 - accuracy: 0.7562
Epoch 72/80
804/804 [==============================] - 3s 4ms/step - loss: 0.5015 - accuracy: 0.7559
Epoch 73/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5018 - accuracy: 0.7563
Epoch 74/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5011 - accuracy: 0.7555
Epoch 75/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5009 - accuracy: 0.7565
Epoch 76/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5003 - accuracy: 0.7574
Epoch 77/80
804/804 [==============================] - 3s 3ms/step - loss: 0.5013 - accuracy: 0.7569
Epoch 78/80
804/804 [==============================] - 3s 3ms/step - loss: 0.5005 - accuracy: 0.7562
Epoch 79/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4998 - accuracy: 0.7569
Epoch 80/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5004 - accuracy: 0.7563

In [102]:
# Evaluating the model using the test data
model_loss, model_accuracy = nn2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5694 - accuracy: 0.7318 - 501ms/epoch - 2ms/step
Loss: 0.5693990588188171, Accuracy: 0.7317784428596497

In [103]:
# Exporting our model to HDF5 file
nn2.save('my_model2.hdf5')