## Preprocessing

In [245]:
# Importing our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Importing and reading the charity_data.csv.
import pandas as pd 
application_df_full = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df_full.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [246]:
# Dropping the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df_full.drop(["EIN","NAME"],1)
application_df

<ipython-input-246-c3e5ec5ff78d>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df_full.drop(["EIN","NAME"],1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [247]:
# Determining the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [248]:
# Looking at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [249]:
# Choosing a cutoff value and create a list of application types to be replaced
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replacing in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Checking to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [250]:
# Looking at CLASSIFICATION value counts for binning
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [254]:
# Looking at CLASSIFICATION value counts >1
classification_value_counts[classification_value_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [255]:
# Choosing a cutoff value and create a list of classifications to be replaced
classifications_to_replace = classification_value_counts.index.tolist()[5:]

# Replacing in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Checking to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()[:5]

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
Name: CLASSIFICATION, dtype: int64

In [256]:
# Checking all categorical columns in the dataset
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [118]:
# Converting categorical data to numeric with `pd.get_dummies`
dummy_data = pd.get_dummies(data=application_df, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 
                                             'USE_CASE', 'ORGANIZATION', 'SPECIAL_CONSIDERATIONS', 'INCOME_AMT', 'IS_SUCCESSFUL'])

In [119]:
# Checking the number of unique values in each column
dummy_data.nunique()

STATUS                             2
ASK_AMT                         8747
APPLICATION_TYPE_Other             2
APPLICATION_TYPE_T10               2
APPLICATION_TYPE_T19               2
APPLICATION_TYPE_T3                2
APPLICATION_TYPE_T4                2
APPLICATION_TYPE_T5                2
APPLICATION_TYPE_T6                2
APPLICATION_TYPE_T7                2
APPLICATION_TYPE_T8                2
AFFILIATION_CompanySponsored       2
AFFILIATION_Family/Parent          2
AFFILIATION_Independent            2
AFFILIATION_National               2
AFFILIATION_Other                  2
AFFILIATION_Regional               2
CLASSIFICATION_C1000               2
CLASSIFICATION_C1200               2
CLASSIFICATION_C2000               2
CLASSIFICATION_C2100               2
CLASSIFICATION_C3000               2
CLASSIFICATION_Other               2
USE_CASE_CommunityServ             2
USE_CASE_Heathcare                 2
USE_CASE_Other                     2
USE_CASE_Preservation              2
USE_CASE_ProductDev                2
ORGANIZATION_Association           2
ORGANIZATION_Co-operative          2
ORGANIZATION_Corporation           2
ORGANIZATION_Trust                 2
SPECIAL_CONSIDERATIONS_N           2
SPECIAL_CONSIDERATIONS_Y           2
INCOME_AMT_0                       2
INCOME_AMT_1-9999                  2
INCOME_AMT_10000-24999             2
INCOME_AMT_100000-499999           2
INCOME_AMT_10M-50M                 2
INCOME_AMT_1M-5M                   2
INCOME_AMT_25000-99999             2
INCOME_AMT_50M+                    2
INCOME_AMT_5M-10M                  2
IS_SUCCESSFUL_0                    2
IS_SUCCESSFUL_1                    2
dtype: int64

In [120]:
# Splitting our preprocessed data into our features and target arrays
y = dummy_data["IS_SUCCESSFUL_1"].values
X = dummy_data.drop(["IS_SUCCESSFUL_1", "IS_SUCCESSFUL_0"],1).values

# Splitting the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

<ipython-input-120-cf7ef5695426>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = dummy_data.drop(["IS_SUCCESSFUL_1", "IS_SUCCESSFUL_0"],1).values

In [121]:
# Creating a StandardScaler instances
scaler = StandardScaler()

# Fitting the StandardScaler
X_scaler = scaler.fit(X_train)

# Scaling the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [122]:
# Checking the dummy_data dataframe
dummy_data

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,IS_SUCCESSFUL_0,IS_SUCCESSFUL_1
0,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,108590,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,1,142590,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

## Compile, Train and Evaluate the Model

In [123]:
# Defining the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=43, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Checking the structure of the model
nn.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_61 (Dense)            (None, 80)                3520

 dense_62 (Dense)            (None, 30)                2430

 dense_63 (Dense)            (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [124]:
# Compiling the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [125]:
# Training the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 5ms/step - loss: 0.5711 - accuracy: 0.7231
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5563 - accuracy: 0.7304
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5528 - accuracy: 0.7310
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5510 - accuracy: 0.7323
Epoch 5/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5503 - accuracy: 0.7328
Epoch 6/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5491 - accuracy: 0.7328
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5483 - accuracy: 0.7342
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5473 - accuracy: 0.7344
Epoch 9/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5470 - accuracy: 0.7355
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7349
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7347
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7353
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7352
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7354
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7366
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7353
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7373
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7362
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7353
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7364
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7362
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7370
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7374
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7370
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7373
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7384
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7377
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7383
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7381
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7378
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7372
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7388
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7375
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7389
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7385
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7390
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7383
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7393
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7392
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7390
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7391
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7394
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7396
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7388
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7393
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7386
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7390
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7397
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7397
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7397
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7386
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7400
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7401
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7393
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7406
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7397
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7392
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7395
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7408
Epoch 60/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5382 - accuracy: 0.7397
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7398
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7404
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7392
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7398
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7405
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7394
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7402
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7400
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7409
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7407
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7399
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7399
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7406
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7403
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7404
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7402
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7394
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7404
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7403
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7399
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7404
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7400
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7406
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7405
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7399
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7405
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7407
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7404
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7407
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7404
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7408
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7407
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7402
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7406
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7410
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7409
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7410
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7409
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7412
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7411

In [126]:
# Evaluating the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5562 - accuracy: 0.7268 - 497ms/epoch - 2ms/step
Loss: 0.5561991930007935, Accuracy: 0.7267638444900513

In [ ]:
# Exporting our model to HDF5 file
nn.save('my_model.hdf5')

## Optimising the model

In [127]:
# Trying to further create bins for the income amount column
income_value_counts = application_df['INCOME_AMT'].value_counts()
income_value_counts

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [128]:
# Creating list of values to replace
income_value_to_replace = ['10M-50M', '5M-10M','50M+']

# Replacing in dataframe
for inc in income_value_to_replace:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(inc,"5M+")
    
# Checking to make sure binning was successful
application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
5M+                564
10000-24999        543
Name: INCOME_AMT, dtype: int64

In [131]:
# Reading in the dataset again to include a new column
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")

# Making sure the bins are still present
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Trying to further create bins for the application types column
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17', 'T10']
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Making sure the bins are still present
for inc in income_value_to_replace:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(inc,"5M+")

In [132]:
# Converting categorical data to numeric with `pd.get_dummies`
dummy_data = pd.get_dummies(data=application_df, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
                                             'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'IS_SUCCESSFUL'])

In [133]:
# Splitting our preprocessed data into our features and target arrays
y = dummy_data["IS_SUCCESSFUL_1"].values
# Removing the Special considerations column to see if it enhances accuracy
X = dummy_data.drop(["IS_SUCCESSFUL_1", "IS_SUCCESSFUL_0", "SPECIAL_CONSIDERATIONS", "NAME"],1).values

# Splitting the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

<ipython-input-133-775f05205a55>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = dummy_data.drop(["IS_SUCCESSFUL_1", "IS_SUCCESSFUL_0", "SPECIAL_CONSIDERATIONS", "NAME"],1).values

In [135]:
# Creating a StandardScaler instances
scaler = StandardScaler()

# Fitting the StandardScaler
X_scaler = scaler.fit(X_train)

# Scaling the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [142]:
# Defining the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 120
hidden_nodes_layer3 = 100
hidden_nodes_layer4 = 50

nn2 = tf.keras.models.Sequential()

# First hidden layer
nn2.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=40, activation="relu")
)

# Second hidden layer
nn2.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer (changed activation function; added new layer)
nn2.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))

# Fourth hidden layer (added new layer)
nn2.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# # Output layer
nn2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Checking the structure of the model
nn2.summary()

Model: "sequential_13"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_69 (Dense)            (None, 80)                3280

 dense_70 (Dense)            (None, 120)               9720

 dense_71 (Dense)            (None, 100)               12100

 dense_72 (Dense)            (None, 50)                5050

 dense_73 (Dense)            (None, 1)                 51

=================================================================
Total params: 30,201
Trainable params: 30,201
Non-trainable params: 0
_________________________________________________________________

In [143]:
# Compiling the model
nn2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [144]:
# Training the model (lesser epochs)
fit_model = nn2.fit(X_train_scaled,y_train,epochs=80)

Epoch 1/80
804/804 [==============================] - 4s 3ms/step - loss: 0.5656 - accuracy: 0.7244
Epoch 2/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5520 - accuracy: 0.7326
Epoch 3/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7330
Epoch 4/80
804/804 [==============================] - 3s 4ms/step - loss: 0.5463 - accuracy: 0.7343
Epoch 5/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7359
Epoch 6/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7362
Epoch 7/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7367
Epoch 8/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7373
Epoch 9/80
804/804 [==============================] - 3s 3ms/step - loss: 0.5388 - accuracy: 0.7380
Epoch 10/80
804/804 [==============================] - 3s 3ms/step - loss: 0.5367 - accuracy: 0.7398
Epoch 11/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7404
Epoch 12/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7413
Epoch 13/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7415
Epoch 14/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7427
Epoch 15/80
804/804 [==============================] - 3s 4ms/step - loss: 0.5317 - accuracy: 0.7427
Epoch 16/80
804/804 [==============================] - 3s 3ms/step - loss: 0.5315 - accuracy: 0.7418
Epoch 17/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5299 - accuracy: 0.7437
Epoch 18/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5300 - accuracy: 0.7444
Epoch 19/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5281 - accuracy: 0.7455
Epoch 20/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5272 - accuracy: 0.7455
Epoch 21/80
804/804 [==============================] - 3s 4ms/step - loss: 0.5273 - accuracy: 0.7454
Epoch 22/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5261 - accuracy: 0.7469
Epoch 23/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5254 - accuracy: 0.7463
Epoch 24/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5244 - accuracy: 0.7470
Epoch 25/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5236 - accuracy: 0.7489
Epoch 26/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5231 - accuracy: 0.7487
Epoch 27/80
804/804 [==============================] - 3s 4ms/step - loss: 0.5223 - accuracy: 0.7491
Epoch 28/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5217 - accuracy: 0.7495
Epoch 29/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5212 - accuracy: 0.7490
Epoch 30/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5200 - accuracy: 0.7487
Epoch 31/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5197 - accuracy: 0.7492
Epoch 32/80
804/804 [==============================] - 3s 3ms/step - loss: 0.5190 - accuracy: 0.7498
Epoch 33/80
804/804 [==============================] - 3s 3ms/step - loss: 0.5179 - accuracy: 0.7510
Epoch 34/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5175 - accuracy: 0.7502
Epoch 35/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5162 - accuracy: 0.7502
Epoch 36/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5154 - accuracy: 0.7514
Epoch 37/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5165 - accuracy: 0.7497
Epoch 38/80
804/804 [==============================] - 3s 4ms/step - loss: 0.5155 - accuracy: 0.7510
Epoch 39/80
804/804 [==============================] - 3s 3ms/step - loss: 0.5144 - accuracy: 0.7525
Epoch 40/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5143 - accuracy: 0.7521
Epoch 41/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5128 - accuracy: 0.7529
Epoch 42/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5122 - accuracy: 0.7535
Epoch 43/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5124 - accuracy: 0.7522
Epoch 44/80
804/804 [==============================] - 3s 4ms/step - loss: 0.5114 - accuracy: 0.7536
Epoch 45/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5130 - accuracy: 0.7510
Epoch 46/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5112 - accuracy: 0.7534
Epoch 47/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5095 - accuracy: 0.7542
Epoch 48/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5110 - accuracy: 0.7531
Epoch 49/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5089 - accuracy: 0.7545
Epoch 50/80
804/804 [==============================] - 3s 4ms/step - loss: 0.5091 - accuracy: 0.7535
Epoch 51/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5085 - accuracy: 0.7549
Epoch 52/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5082 - accuracy: 0.7543
Epoch 53/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5087 - accuracy: 0.7537
Epoch 54/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5064 - accuracy: 0.7538
Epoch 55/80
804/804 [==============================] - 3s 3ms/step - loss: 0.5087 - accuracy: 0.7526
Epoch 56/80
804/804 [==============================] - 3s 4ms/step - loss: 0.5067 - accuracy: 0.7555
Epoch 57/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5069 - accuracy: 0.7557
Epoch 58/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5059 - accuracy: 0.7562
Epoch 59/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5048 - accuracy: 0.7561
Epoch 60/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5053 - accuracy: 0.7563
Epoch 61/80
804/804 [==============================] - 3s 4ms/step - loss: 0.5043 - accuracy: 0.7564
Epoch 62/80
804/804 [==============================] - 3s 3ms/step - loss: 0.5035 - accuracy: 0.7569
Epoch 63/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5028 - accuracy: 0.7568
Epoch 64/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5047 - accuracy: 0.7568
Epoch 65/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5033 - accuracy: 0.7566
Epoch 66/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5007 - accuracy: 0.7570
Epoch 67/80
804/804 [==============================] - 3s 4ms/step - loss: 0.5023 - accuracy: 0.7561
Epoch 68/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5011 - accuracy: 0.7570
Epoch 69/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5020 - accuracy: 0.7577
Epoch 70/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5017 - accuracy: 0.7569
Epoch 71/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5004 - accuracy: 0.7571
Epoch 72/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4991 - accuracy: 0.7580
Epoch 73/80
804/804 [==============================] - 3s 4ms/step - loss: 0.4996 - accuracy: 0.7570
Epoch 74/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5000 - accuracy: 0.7574
Epoch 75/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5018 - accuracy: 0.7537
Epoch 76/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5026 - accuracy: 0.7517
Epoch 77/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4988 - accuracy: 0.7580
Epoch 78/80
804/804 [==============================] - 3s 3ms/step - loss: 0.4989 - accuracy: 0.7584
Epoch 79/80
804/804 [==============================] - 3s 4ms/step - loss: 0.4983 - accuracy: 0.7597
Epoch 80/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4991 - accuracy: 0.7574

In [145]:
# Evaluating the model using the test data
model_loss, model_accuracy = nn2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5969 - accuracy: 0.7280 - 515ms/epoch - 2ms/step
Loss: 0.5969062447547913, Accuracy: 0.7280466556549072

In [260]:
# Exporting our model to HDF5 file
nn2.save('my_model2.hdf5')